@font-face {
    src: url("go3v2.ttf");
}

.text {
    -fx-font-family: 'Gang of Three';
}

.button {
    -fx-background-color: #4f311f;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 10;
    -fx-border-color: #000000;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-font-size: 70;
}

.titolo {
    -fx-font-size: 100

}

.button:hover {
    -fx-background-color: #6f513f;
}

#mainGui-anchor {
    -fx-background-image: url('../immages/mainmenu.png');
}
